.homepage-container {
    display: grid;
    grid: repeat(2, 1fr) repeat(2, max-content) / 1fr;
}

.homepage-title {
    background: black;
    color: white;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.homepage-form {
    display: grid;
    width: 100%;
    height: 100%;
    grid: 1fr / max-content repeat(2, 1fr);
}

.search-icon {
    transform: rotateY(180deg);
    height: 4rem;
    width: 4rem;
    background: var(--color-bg-white);
}

.homepage-form__input {
    padding: .5em 1em;
    border: none;
    outline: none;
    text-overflow: ellipsis;
    background: var(--color-bg-white);
}

.homepage-form__button {
    border: none;
    padding: .5em 1em;
    background: var(--color-bg-orange);
    color: var(--color-bg-white);
    cursor: pointer;
}

.form-advanced {
    background-color: var(--color-bg-white);
}

.form-advanced__instructions {
    display: grid;
    place-items: center;
    margin-top: 1em;
}

.form-advanced__filter {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
    column-gap: 1em;
    padding: 2em 1em;
}

.filter-li {
    display: grid;
    grid: 1fr / 4em repeat(2, max-content);
    column-gap: 1em;
    padding: 0.25em 0;

}

.filter-li__option {
    padding: 0 0.5em;
    border: 1px solid black;
}

.filter-li__option--active {
    background: var(--color-bg-blue);
    color: var(--color-bg-white);
}

.form-advanced__controls {
    display: grid;
    grid: max-content / repeat(2, 2fr) 1fr;
}

.form-advanced__controls-btn {
	border: none;
	padding: 1em 2em;
	cursor: pointer;
}

.form-advanced__controls-btn--show {
    background: var(--color-bg-blue);
    color: var(--color-bg-white);
}
.form-advanced__controls-btn--apply {
    background: var(--color-bg-green);
    color: var(--color-bg-white);
}
.form-advanced__controls-btn--clear {
    background: var(--color-bg-blue);
    color: var(--color-bg-white);
}
.form-advanced__controls-btn--close {
    background: var(--color-bg-red-dark);
    color: var(--color-bg-white);
}