section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    row-gap: 3rem;
}

.pokemon-item > h3 {
    font-size: 2rem;
}

.pokemon-item > img {
    height: 12rem;
    width: 12rem;
}

.pokemon-link {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

.pokemon-link:visited {
    text-decoration: none;
}