.form-advanced {
    background-color: var(--color-bg-white);
}

.form-advanced__instructions {
    display: grid;
    place-items: center;
    margin-top: 1em;
}

.form-advanced__filter {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    column-gap: 1em;
    padding: 2em;
}

.filter-li {
    display: grid;
    grid: 1fr / minmax(4.5rem, 1fr) repeat(2, max-content);
    column-gap: 1em;
    padding: 0.25em 0;

}

.filter-li__label {
    padding: 0.25em 0.5em;
}

.filter-li__option {
    padding: 0 0.5em;
    border: 1px solid black;
    cursor: pointer;
}

.filter-li__option--active {
    background: var(--color-bg-blue);
    color: var(--color-bg-white);
}

.filter-li__label--Bug {
    background: var(--color-type-bug);
    color: var(--color-bg-white);
}

.filter-li__label--Dark {
    background: var(--color-type-dark);
    color: var(--color-bg-white);
}

.filter-li__label--Dragon {
    background: var(--color-type-dragon);
    color: var(--color-bg-white);
}

.filter-li__label--Electric {
    background: var(--color-type-electric);
    color: black;
}

.filter-li__label--Fairy {
    background: var(--color-type-fairy);
    color: black;
}

.filter-li__label--Fighting {
    background: var(--color-type-fighting);
    color: var(--color-bg-white);
}

.filter-li__label--Fire {
    background: var(--color-type-fire);
    color: var(--color-bg-white);
}

.filter-li__label--Flying {
    background: var(--color-type-flying);
    color: black;
}

.filter-li__label--Ghost {
    background: var(--color-type-ghost);
    color: var(--color-bg-white)
}

.filter-li__label--Grass {
    background: var(--color-type-grass);
    color: black;
}

.filter-li__label--Ground {
    background: var(--color-type-ground);
    color: black;
}

.filter-li__label--Ice {
    background: var(--color-type-ice);
    color: black;
}

.filter-li__label--Normal {
    background: var(--color-type-normal);
    color: black;
}

.filter-li__label--Poison {
    background: var(--color-type-poison);
    color: var(--color-bg-white);
}

.filter-li__label--Psychic {
    background: var(--color-type-psychic);
    color: var(--color-bg-white);
}

.filter-li__label--Rock {
    background: var(--color-type-rock);
    color: var(--color-bg-white);
}

.filter-li__label--Steel {
    background: var(--color-type-steel);
    color: black;
}

.filter-li__label--Water {
    background: var(--color-type-water);
    color: var(--color-bg-white);
}


.form-advanced__controls {
    display: grid;
    grid: max-content / repeat(2, 2fr) 1fr;
}

.form-advanced__controls-btn {
	border: none;
	padding: 1em 2em;
	cursor: pointer;
}

.form-advanced__controls-btn--show {
    background: var(--color-bg-blue);
    color: var(--color-bg-white);
}
.form-advanced__controls-btn--apply {
    background: var(--color-bg-green);
    color: var(--color-bg-white);
}
.form-advanced__controls-btn--clear {
    background: var(--color-bg-blue);
    color: var(--color-bg-white);
}
.form-advanced__controls-btn--close {
    background: var(--color-bg-red-dark);
    color: var(--color-bg-white);
}

/* Larger Devices Media Query */
@media only screen and (min-width: 900px) {
    .form-advanced {
        font-size: 1.6rem;
    }

    .form-advanced__filter {
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    }

    .form-advanced__controls-btn {
        font-size: 1.6rem;
    }
}