.details-page-container {
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, var(--color-bg-blue-green) 0%, var(--color-bg-blue-dark) 100%);
    min-height: 100vh;
}


.pokemon-basic__number {
    font-weight: 400;
    background: var(--color-bg-orange);
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.pokemon-basic__name {
    font-size: 2rem;
}

.pokemon-info {
    display: grid;
    grid: 
        "name" 6rem
        "home-btn" 2rem
         "image" max-content
         "details" 1fr
         / 1fr;
    row-gap: 1em;
    margin-bottom: 3em;
}

.home-link {
    grid-area: home-btn;
    text-decoration: none;
    background: var(--color-bg-white);
    width: max-content;
    padding: 0.5em 1em;
    align-self: baseline;
    margin-left: 1em;
}

.pokemon-basic {
    grid-area: name;
    display: grid;
    grid: 1fr / 1fr 2fr;
    place-items: center;
    background-color: black;
    color: white;
}

.pokemon-image {
    grid-area: image;
    justify-self: center;
}

.pokemon-details {
    grid-area: details;
    display: grid;
    grid: 1fr max-content / 1fr;
    row-gap: 1em;
}

.pokemon-details-info-container {
    display: grid;
    grid: max-content / repeat(2, 1fr);
    margin: 0 auto;
    font-size: 1.4rem;
    max-width: 90vw;
    width: 100%;
}

.pokemon-details-info-container > p {
    border-bottom: 1px solid gray;
}

.pokemon-details-label {
    font-weight: 300;
    background-color: lightgrey;
    display: grid;
    place-items: center;
}
.pokemon-details-info {
    font-weight: 300;
    background-color: var(--color-bg-white);
    padding-left: 0.25em;
}

.pokemon-details__bio {
    grid-column: span 2;
    font-size: 1.6rem;
    font-weight: 300;
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    line-height: 1.25;
    background: var(--color-bg-white);
    padding: 0.5em;
}

.pokemon-evolutions {
    display: grid;
    place-items: center;
    row-gap: 2em;
}

.pokemon-evolutions__evolutions {
    display: grid;
    grid: auto-flow 1fr / 1fr;
    place-items: center center;
}

@media only screen and (min-width: 900px) {
    .pokemon-info {
        grid-template-areas: 
            "name name"
            "home-btn home-btn"
            "image details";

        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 7em;
    }

    .home-link {
        margin-left: 2em;
        font-size: 1.2rem;
    }

    .pokemon-image {
        align-self: center;
        scale: 1.5;
    }

    .pokemon-details {
        margin-right: 2em;
        max-width: 65rem;
        justify-self: center;
        row-gap: 2em;
    }

    .pokemon-details-info-container {
        font-size: 1.8rem;
    }

    .pokemon-details__bio {
        padding: 1em;
        font-size: 1.8rem;
    }

    .pokemon-evolutions__header {
        font-size: 2.4rem;
    }

    .pokemon-evolutions__evolutions {
        grid-auto-flow: column;
        column-gap: 4em;
    }

}