.pokemon-item__title {
    font-size: 2rem;
}

.pokemon-item__image {
    height: 12rem;
    width: 12rem;
}

.pokemon-item__link {
    text-decoration: none;
    color: inherit;
}

.pokemon-item__link:visited {
    text-decoration: none;
}